body{
	margin:0px;
}

.menuBar{
	background-image:url(img/Head%20web/eyes.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	align-content:flex-top;
	height:400px;
}
h1{
	font-family:DB Adman;
	font-size:26px;
	color:#AD2524;
	letter-spacing: 8px;
  margin-top: 20px;
}
h2{
	font-family:DB Adman;
	color:#333;
	font-size:24px;
  text-align: center;
  letter-spacing: 6px;
}
h3{
	font-family:DB Adman;
	font-size:24px;
	color:#333;
	margin-top:0px;
	letter-spacing: 6px;
  text-align: center;
}

* {box-sizing:border-box}

/*slide1*/
/* Slideshow container */
.slideshow-container {
  max-width: 513px;
  position: relative;
  margin:10px auto 0 auto;
}

.slideshow-containerI {
  max-width: 513px;
  position: relative;
  margin:0 auto;
}

.mySlides {
    display:none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top:4%;
  width: 513;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius:3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius:0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*slide2*/
